<div class="container">
	<div class="row">
	  <span class="col-md-1"></span>
    <div class="col-md-10 text-center">
      <h2>Find Chef and Yummy Dishes</h2>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <%= form_for(:product, url: search_path) do |f| %>
            <%= f.text_field :address, :class =>"input-lg col-md-10", :placeholder => "Street Address, City, State" %>
              <%= f.select(:distance, ['1 mile', '2.5 miles', '5 miles', '10 miles', 'Any'], {}, { :class => 'input-lg' }) %>
              <%= button_to '', :class =>"btn btn-info btn-lg"  do %>
                <span class="glyphicon glyphicon-search"></span>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
	</div>
</div>